.textField {
    color: #ffffff;
    background-color: #6777bf;
    font-size: 14px;
    border-radius: 4px;
    border-color: #6777bf;
    width: 350px;
    height: 25px;
    margin-left: 10px;
    padding: 4px;
}

::placeholder { color: #ffffff; font-size: 16px; }

.root {
    flex: 1
   }

.flex {
    flex-grow: 1,
}

.angles {
    margin-left: 10px;
}