.App {
  text-align: center;
  }
  
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
  
.list {
  padding: 10px;
  height: calc(100vh - 210px)
}

.row { 
  margin: 5px 0;
  display: flex;
  flex-direction: row;
}

.image-main {
  flex: 1;
}

.elements {
  flex-grow: 1,;
  margin-left: 300px
}

.text {
  text-align: left;
}

.image {
  margin-right: 10px;
}

.icon {
  width: 40px;
  height: 40px;
}

.content {
  flex-direction: column;
  flex: 1;
  padding: 10px;
}

.date {
  color: grey;
  padding-top: 50px;
  text-align: left;
}

.author {
  padding-bottom: 10px;
  flex: 1;
  text-align: left;
}